extends ../default-layout/default-layout

include ../../components/text-field/text-field
include ../../components/checkbox/checkbox
include ../../components/radiobutton/radiobutton
include ../../components/toggle/toggle
include ../../components/link/link
include ../../components/features/features

block variables
  - var title = 'Toxin ReWorked: Room details page';
  - var description = 'Toxin ReWorked: Room details page';
  - var pageClass = 'room-details-page';

block content
  .room-gallery-wrapper
    img(src='../../assets/images/content/rooms/room-photo-hero-1.jpg')
    .room-photo-aside-wrapper
      img(src='../../assets/images/content/rooms/room-photo-aside-1.jpg')
      img(src='../../assets/images/content/rooms/room-photo-aside-2.jpg')

  .container
    .room-details-container
      .room-details-content
        .two-columns-container
          .column
            h3 Сведения о номере
            +features({items: [
              {
                heading: 'Комфорт',
                description: 'Шумопоглащающие стены',
                icon: 'smile'
              },
              {
                heading: 'Удобство',
                description: 'Окно в каждой из спален',
                icon: 'city'
              },
              {
                heading: 'Уют',
                description: 'Номер оснащен камином',
                icon: 'hot'
              },
              ]
            })
          .column
            h3 Впечатления от  номера
            #canvas-holder
              canvas#myChart 

        h3 Отзывы посетителей номера
        include ../../components/review/review

        .two-columns-container
          .column
            h3 Правила
            ul.default-bullet-list
              li.default-bullet Нельзя с питомцами 
              li.default-bullet Без вечеринок и мероприятий 
              li.default-bullet 
                | Время прибытия — после 13:00, а выезд до 12:00
          .column
            h3 Отмена
            p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details-sidebar
        include ../../components/card-booking/card-booking
