.pagination__container {
  width: 240px;
  margin: 0 auto;
}

.pagination {
  display: inline-block;
  color: $dark-shade-50;
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.current-page {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
}

.last-page {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
  vertical-align: middle;
  i {
    line-height: 40px;
  }
}

.simple-pagination {
  ul {
    white-space: nowrap;
    display: inline-flex;
  }
  ul li,
  li span,
  li a,
  li span a {
    display: inline-block;
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  li a {
    color: $dark-shade-50;
  }

  .next,
  .prev {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 22px;
    vertical-align: middle;
    i {
      color: #fff;
      line-height: 40px;
    }
  }

  .prev i {
    width: 40px;
    padding-left: 7px;
  }

  .active,
  .active span {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    color: #fff;
  }

  .disabled {
    opacity: 0;
    position: absolute;
    z-index: -10;
  }
}

.pagination-description {
  display: block;
  text-align: center;
  margin-top: 10px;
}
