extends ../default-layout/default-layout

include ../../components/text-field/text-field
include ../../components/buttons/buttons
include ../../components/checkbox/checkbox
include ../../components/radiobuttons/radiobuttons
include ../../components/toggle/toggle
include ../../components/bullet-list/bullet-list
include ../../components/rate/rate
include ../../components/features/features
include ../../components/like-button/like-button
include ../../components/review/review


block variables
  - var title = 'Toxin ReWorked: UI Kit';
  - var description = 'UI Kit element page';
  - var pageClass = 'ui-kit-page';

block content
  .container
    .form-elements
      form(action='', method='POST')
        .form-col
          h3 Text field
          +textField({
            type: 'text',
            placeholder: 'default input'
          })
          h3 Dropdown guests
          include ../../components/dropdown-guests/dropdown-guests
          h3 Masked input
          +textField({
            modificator: 'masked',
          })
          h3 Date Dropdown
          .flex-between
            include ../../components/dropdown-date/dropdown-date
            include ../../components/dropdown-date/dropdown-date
          h3 Email Subscription 
          +textField({
            modificator: 'email',
          })
          h3 Dropdown Rooms
          include ../../components/dropdown-rooms/dropdown-rooms
          .expandable-button
            h3 Expandable Checkbox List
          .expandable-checkbox-list-container
            +generateCheckbox('Завтрак', 'checked')
            +generateCheckbox('Письменный стол', 'checked')
            +generateCheckbox('Стул для кормления', 'checked')
            +generateCheckbox('Кроватка', 'checked')
            +generateCheckbox('Телевизор')
            +generateCheckbox('Шампунь')
          h3 Features
          +features({items: [
            {
              heading: 'Комфорт',
              description: 'Шумопоглащающие стены',
              icon: 'smile'
            },
            {
              heading: 'Удобство',
              description: 'Окно в каждой из спален',
              icon: 'city'
            },
            ]
          })

        .form-col
          h3 Checkbox Buttons
          include ../../components/checkbox/checkbox
          h3 Radio Buttons
          +radiobuttons({items: [
              {
                labelText: 'Мужчина',
                checked: true,
                name: 'gender',
                value: 'male'
              },
              {
                labelText: 'Женщина',
                name: 'gender',
                value: 'female'
              },
            ]
          })
          h3 Toggle
          +toggle('', '', 'Получать спецпредложения')
          h3 Like button

          h3 Rate button
          +rate({
            rating: 5
          })
          +rate({
            rating: 4
          })
          h3  Rich Checkbox Buttons
          include ../../components/checkbox-rich/checkbox-rich
          h3 Reviews
          +review({
            imgSrc: '../../assets/images/content/avatar_review.png',
            likeCount: 5,
            likeStatus: true,
            author: 'Мурад Сарафанов',
            date: '5 дней назад',
            content: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей',
          })

        .form-col
          h3 Range slider
          input.js-range-slider(type='text', name='my_range', value='')
          h3 Buttons
          +buttons({
            text: 'Click me',
            modificator: 'gradient',
          })
          +buttons({
            text: 'Click me',
            modificator: 'border',
          })
          +buttons({
            text: 'Click me',
          })
          +buttons({
            text: 'Перейти к оплате',
            modificator: 'wide',
          })
          h3 Pagination
          include ../../components/pagination/pagination
          h3 Bullet List
          +bullet-list([
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00 ',
          ])



block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
