.review {
  display: flex;
  margin-bottom: 20px;
}

.review__photolikes {
  min-width: 48px;
  text-align: center;
  margin-right: 10px;
}

.review__avatar {
  margin-bottom: 12px;
}

.review__author {
  display: block;
  font-weight: bold;
}

.review__content {
  margin-top: 10px;
  line-height: 24px;
  font-size: 14px;
}
