.default-review-container
  .review-photo-likes-container
    img.review-avatar(src="../../assets/images/content/avatar_review.png", alt="avatar_review")
    span.like-button_hovered
      i.material-icons favorite
      span.like-button__counter 12
  .review-content-container
    span.review-author Мурад Сарафанов
    span.review-date 5 дней назад
    p.review-content
      | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
.default-review-container
  .review-photo-likes-container
    img.review-avatar(src="../../assets/images/content/avatar_review.png", alt="avatar_review")
    span.like-button_hovered
      i.material-icons favorite
      span.like-button__counter 12
  .review-content-container
    span.review-author Патрисия Стеклышкова
    span.review-date Неделю назад
    p.review-content
      | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплиментОбслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
