.dropdown-calc.dropdown-calc__rooms
  span.material-icons
    | expand_more
  input.dropdown-calc__header.dropdown-calc__header_type_rooms(type='text', readonly='', placeholder="Укажите кол-во комнат")
  .dropdown-calc__content
    .dropdown-calc__item
      label.dropdown-calc__label(for='rooms-quantity') Спальни 
      .dropdown-calc__quantity
        button.dropdown-calc__button-minus(type='button')
        input.dropdown-calc__quantity-input.dropdown-calc__quantity-input_type_rooms(min='0', name='rooms-quantity', value='1', type='number')
        button.dropdown-calc__button-plus(type='button')
    .dropdown-calc__item
      label.dropdown-calc__label(for='beds-quantity') Кровати 
      .dropdown-calc__quantity
        button.dropdown-calc__button-minus(type='button')
        input.dropdown-calc__quantity-input.dropdown-calc__quantity-input_type_beds(min='0', name='beds-quantity', value='0', type='number')
        button.dropdown-calc__button-plus(type='button')
    .dropdown-calc__item
      label.dropdown-calc__label(for='bathrooms-quantity') Ванные комнаты 
      .dropdown-calc__quantity
        button.dropdown-calc__button-minus(type='button')
        input.dropdown-calc__quantity-input.dropdown-calc__quantity-input_type_bathrooms(min='0', name='bathrooms-quantity', value='0', type='number')
        button.dropdown-calc__button-plus(type='button')
