.date-dropdown {
  appearance: none;
  background: #ffffff url('../images/design/expand_more.png') no-repeat 121px
    18px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  color: $dark-shade-75;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 18px;

  padding: 12px 15px;
  min-width: 150px;
  width: 150px;

  margin-right: 20px;

  &::placeholder {
    font-size: 14px;
  }
}
