.layout-header {
  height: 70px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  margin: 15px 0;
  width: 106px;
}

/*Register buttons styles */
/* -----------------------*/
.header__account-buttons {
  display: flex;
  align-items: center;
}

.standart-button__gradient {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 12px;

  padding: 0 15px;
  height: 34px;

  color: #fff;

  text-transform: uppercase;

  }

  .sign-in-button {
    $border: 2px;
    position: relative;
    box-sizing: border-box;
    
    color: #BC9CFF;
    background: #fff;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 22px;
    margin-right: 20px;
  

      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
    }
