.navigation {
  display: flex;
  justify-content: flex-end;
  padding-right: 123px;
}

.main-menu {
  display: flex;
  flex-direction: row;

  & li {
      position: relative;
      line-height: 70px;
      margin-right: 20px;
    
    & a {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}

li.has-submenu {
  &::after {
    content: "";
    position: relative;
    width: 12px;
    height: 8px;
    background: url('../images/design/expand_more.png') no-repeat;
    right: -4px;
    top: 6px;
    padding-left: 12px;
  }
}
