//----------------------------------
//---------REVIEW  ---------
//----------------------------------
.default-review-container {
  display: flex;
}

.review-photo-likes-container {
  min-width: 48px;
  text-align: center;
  margin-right: 10px;
}

.review-avatar {
  margin-bottom: 12px;
}

.review-author {
  display: block;
  font-weight: bold;
}

.review-content {
  line-height: 171%;
}
