extends ../default-layout/default-layout

include ../../components/text-field/text-field
include ../../components/checkbox/checkbox
include ../../components/radiobuttons/radiobuttons
include ../../components/toggle/toggle
include ../../components/link/link
include ../../components/rate/rate

mixin renderRoomFound(room) 
  .room-card-thumbnail-container
    ul.bxslider
      for roomImageSrc in room.photos
        li 
          img(src= roomImageSrc)
    .room-booking-header
      .column
        spam.number-sign №  
        span.room-number= room.number
        span.room-class.room-class__lux= room.class 
      .column
        span.room-price= room.price
        span.ruble  р 
        span.room-term в сутки 
    .room-rating-container
      +rate({
        rating: 5
      })
      .reivews-container
        span.reivews-counter= room.reviews
        span.reivews-label  Отзывов     


block variables
  - var title = 'Toxin ReWorked: Search room page';
  - var description = 'Toxin ReWorked: Search room page';
  - var pageClass = 'search-room-page';

  - var room = {}
  - room.photos = ["../../assets/images/content/rooms/room_1_thumb.png","../../assets/images/content/rooms/room_1_thumb.png","../../assets/images/content/rooms/room_2_thumb.png"]
  - room.number = "888"
  - room.class = " люкс"
  - room.price = "9 900"
  - room.rating = "5" 
  - room.reviews = "12"

block content
  .container
    .search-page-wrapper
      .sidebar.sidebar-room-search
        h3 Даты пребывания в отеле
        include ../../components/dropdown-date/dropdown-date
        h3 Гости
        include ../../components/dropdown-guests/dropdown-guests
        h3 Диапазон цены
        input.js-range-slider(type="text", name="my_range", value="")
        span.range-slider-hint Стоимость за сутки пребывания в номере
        .house-rules
          h3 Правила дома
          +checkbox("Можно курить", false)
          +checkbox("Можно с питомцами", true)
          +checkbox("Можно пригласить гостей (до 10 человек) ", true)
        .accessibility
          h3  Доступность
          include ../../components/checkbox-rich/checkbox-rich
        h3 Удобства номера
        include ../../components/dropdown-rooms/dropdown-rooms
        .expandable-button
          h3 Дополнительные удобства
        .expandable-checkbox-list-container
          +checkbox('Завтрак')
          +checkbox('Письменный стол')
          +checkbox('Стул для кормления')
          +checkbox('Кроватка')
          +checkbox('Шампунь')
          +checkbox('Телевизор')
      .content
        h2.search-room-result__title Номера, которые мы для вас подобрали
        .content-room-search-container
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)
          +renderRoomFound(room)

        include ../../components/pagination/pagination

block script
