.sign-in-form-wrapper {
  background: url(../assets/images/design/background-sign-in.png) no-repeat 0 -100px;
  min-height: 683px;
  background-size: cover;
}

.form-sign-in {
  margin: 0 auto;
  top: 170px;
}
