
a.default-button.default-button__gradient(href="#") Click me
br
a.default-button.default-button__border(href="#")
  span Click me
br
a.default-button(href="#") Click me
br
a.default-button.default-button__gradient.default-button__arrow.button-payment(href="#") Перейти к оплате
