.default-button {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 15px;
  margin: 20px 0 30px;
  font-weight: bold;
  color: $purple-color;
  max-width: 100px;
}
.default-button:hover {
  color: rgba(31, 32, 65, 0.5);
}

.default-button__gradient {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;

  padding: 14px 21px 15px 19px;
}

.default-button__gradient:hover {
  opacity: 0.5;
  color: #fff;
}

.default-button__border {
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  box-sizing: border-box;
  color: #bc9cff;
  height: 44px;
  padding: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;

  span {
    align-items: center;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
}

.default-button__border:hover.default-button__border::before {
  opacity: 0.5;
}

.default-button__border:hover {
  color: rgba(188, 156, 255, 0.5);
}

.default-button__arrow {
  position: relative;
  padding-left: 44px;
  padding-right: 44px;
}

.default-button__arrow::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  display: block;
  content: '\e5c8';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 14px;
}

.default-button__fullwidth {
  width: 100%;
  text-align: center;
}

.button__payment {
  max-width: 320px;
  text-align: center;
}
