/*TYPOGRAPHY STYLES */
/* -----------------*/
h1 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade-100;
}

h2 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade-100;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: $dark-shade-100;
  text-transform: uppercase;
  letter-spacing: .5px;
}
