form.form.form-rooms-search
  h3.form-title Найдём номера под ваши пожелания 
  .rooms-search-dates-container.flex-between
    .column
      h3 Прибытие
      +input("masked date-input datepicker-here arrival", "text", "ДД.ММ.ГГГГ")
    .column
      h3 Выезд
      +input("masked date-input datepicker-here departure", "text", "ДД.ММ.ГГГГ")
  h3 Гости
  include ../../components/dropdown-guests
  +createLink("default-button__gradient default-button__arrow default-button__fullwidth", "/mock_adress", "Подобрать номер")
