form.form.form-rooms-search
  h3.form-title Найдём номера под ваши пожелания 
  .rooms-search-dates-container.flex-between
    .column
      h3 Прибытие
      +textField({
        blockElement: 'masked date-input datepicker-here arrival',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ'
      })
    .column
      h3 Выезд
      +textField({
        blockElement: 'masked date-input datepicker-here departure',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ'
      })      
  h3 Гости
  include ../dropdown-guests/dropdown-guests
  +createLink('default-button__gradient default-button__arrow default-button__fullwidth', '/mock_adress', 'Подобрать номер')
