include ../../components/buttons/buttons
include ../../components/dropdown/dropdown

form.form.form-room-booking
  .room-booking-header
    .column
      spam.number-sign №  
      span.room-number 888
      span.room-class.room-class__lux  люкс
    .column
      span.room-price 990
      span.ruble  р 
      span.room-term в сутки        
  .rooms-search-dates-container.flex-between
    .column
      h3 Прибытие
      +textField({
        blockElements: ["masked", "date-input date-dropdown"], 
        type: "text", 
        placeholder: "ДД.ММ.ГГГГ"
      })
    .column
      h3 Выезд
      +textField({
        blockElements: ["masked date-input", "date-dropdown"], 
        type: "text", 
        placeholder: "ДД.ММ.ГГГГ"
      })
  +dropdown({
    title: 'Гости',
    type: 'guests',
    items: [
      {
        labelTitle: 'Взрослые',
        inputName: 'adults',
        inputValue: 1
      },
      {
        labelTitle: 'Дети',
        inputName: 'children',
        inputValue: 0
      },
      {
        labelTitle: 'Младенцы',
        inputName: 'toddlers',
        inputValue: 0
      },
    ],
  })

  .room-booking-summary
    .room-booking-summary__summary-row
      .column
        span.summary-service-name.summary-service-name_no-info 9 990₽ х 4 суток
      .column
        span.summary-service-price 39 960₽
    .room-booking-summary__summary-row
      .column
        span.summary-service-name Сбор за услуги: скидка 2 179₽
      .column
        span.summary-service-price 0₽
    .room-booking-summary__summary-row
      .column
        span.summary-service-name Сбор за дополнительные услуги
      .column
        span.summary-service-price 300₽

    .room-booking-total-price 
      span.total-price-label Итого
      span.total-price-amount 38 081 р
    .total-price-border-line

  +buttons({
    text: 'Забронировать',
    modificator: 'wide',
  })
