include ../../components/buttons/buttons
include ../../components/dropdown/dropdown
include ../../components/dropdown-date/dropdown-date

mixin card-booking()
  .card_type_room-booking
    form.card__form
      .card__header
        .card__column
          spam.card__number-sign №
          span.card__room-number 888
          span.card__room-class.card__room-class_type_lux люкс
        .card__column.card__column_display_inline-flex
          span.card__room-price 9 990
          span.card__ruble  ₽ 
          span.card__room-term в сутки
      .card__search-dates-container
        .card__column
          h3.card__arrival-title Прибытие
          +dropdownDate()
        .card__column
          h3.card__departure-title Выезд
          +dropdownDate()
      +dropdown({
        title: 'Гости',
        type: 'guests',
        items: [
          {
            labelTitle: 'Взрослые',
            inputName: 'adults',
            inputValue: 1
          },
          {
            labelTitle: 'Дети',
            inputName: 'children',
            inputValue: 0
          },
          {
            labelTitle: 'Младенцы',
            inputName: 'toddlers',
            inputValue: 0
          },
        ],
      })

      .card__summary
        .card__summary-row
          .card__column
            span.card__service-name.card__service-name_content-after_false 9 990₽ х 4 суток
          .card__column
            span.card__service-price 39 960₽
        .card__summary-row
          .card__column
            span.card__service-name Сбор за услуги: скидка 2 179₽
          .card__column
            span.card__service-price 0₽
        .card__summary-row
          .card__column
            span.card__service-name Сбор за дополнительные услуги
          .card__column
            span.card__service-price 300₽

        .card__total-price 
          span.card__total-price-label Итого
          span.card__total-price-amount 38 081 р
        .total-price-border-line

      +buttons({
        text: 'Забронировать',
        modificator: 'wide',
      })
