mixin rate(config)
  -const rating = config.rating || 0

  .rate
    each val in [1, 2, 3, 4 ,5]
      if val <= rating
        a.rate__star(href='/mock-adress/')
          i.material-icons star
      else
        a.rate__star(href='/mock-adress/')
          i.material-icons star_border
