.rate {
  display: flex;
  flex-direction: row;
}

.rate__star {
  .material-icons {
    line-height: 20px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    color: transparent;
  }
}
