extends ../layout/default-layout

block variables
  - var title = 'Toxin ReWorked: Register page';
  - var description = 'Toxin ReWorked: Register page';
  - var pageClass = 'sign-in-page';

block content
  .sign-in-form-wrapper
    .container
      include ../components/forms/registration-form
