extends ../default-layout/default-layout

include ../../components/text-field/text-field
include ../../components/checkbox/checkbox
include ../../components/radiobutton/radiobutton
include ../../components/toggle/toggle
include ../../components/link/link

block variables
  - var title = 'Toxin ReWorked: Register page';
  - var description = 'Toxin ReWorked: Register page';
  - var pageClass = 'sign-in-page';

block content
  .sign-in-form-wrapper
    .container
      include ../../components/card-registration/card-registration
