ul.default-bullet-list
  li.default-bullet Нельзя с питомцами 
  li.default-bullet Без вечеринок и мероприятий 
  li.default-bullet 
    | Время прибытия — после 13:00,
    br 
    | а выезд до 12:00 
