.rich-checkbox
  label.default-label.rich-checkbox-label
    input.default-checkbox(type='checkbox')
    span Широкий коридор
    p.rich-checkbox-description
      | Ширина коридоров в номере
      br
      | не менее 91 см.
.rich-checkbox
  label.default-label.rich-checkbox-label 
    input.default-checkbox(type='checkbox')
    span Помощник для инвалидов
    p.rich-checkbox-description 
      | На 1 этаже вас встретит специалист
      br
      | и проводит до номера.
