label.default-label 
  input.default-checkbox(type='checkbox', checked)
  span
    | Можно курить
label.default-label
  input.default-checkbox(type='checkbox')
  span
    | Можно с питомцами
label.default-label 
  input.default-checkbox(type='checkbox')
  span
    | Можно пригласить гостей 
    br 
    | (до 10 человек) 
