.default-feature-container.feature-smile
  span.feature-heading Комфорт
  p.feature-description Шумопоглащающие стены
.default-feature-container.feature-city
  span.feature-heading Удобство
  p.feature-description Окно в каждой из спален
