label.container-radio
  | Мужчина
  input(type='radio', checked='checked', name='radio-gender', value='male')
  span.checkmark
label.container-radio
  | Женщина
  input(type='radio', name='radio-gender', value='female')
  span.checkmark
