.rate-button-container
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
br    
.rate-button-container
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star
  a.star-link(href="#")
    i.material-icons star_border
