//----------------------------------
//---------DEFAULT RADIOBUTTON---------
//----------------------------------
.default-radiobutton {
}
/* The container */
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  line-height: 21px;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $dark-shade-50;
  box-sizing: border-box;
  border-radius: 10px;
}

/* On mouse-over, add background */
.container-radio:hover input ~ .checkmark {
  border: 1px solid #bc9cff;
}

.container-radio input:hover ~ .checkmark:after {
  display: block;
}

/* When the radio button is checked, add background */
.container-radio input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
