extends ../default-layout/default-layout

block variables
  - var title = 'Toxin ReWorked: Cards page';
  - var description = 'Cards page (forms)';
  - var pageClass = 'cards-page';

block content
  .container.flex-between
    .cards-col
      //- Room search form
      h3 Rooms search form
      include ../../components/card-room-search/card-room-search
      h3 Registration form
      include ../../components/card-registration/card-registration

    .cards-col
      h3 Room booking
      include ../../components/card-booking/card-booking
      h3 Sign-in form
      include ../../components/card-sign-in/card-sign-in

    .cards-col
      h3 Room cards
      include ../../components/card-room-preview/card-room-preview

