.radiobuttons__label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  line-height: 21px;
}

.radiobuttons__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radiobuttons__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $dark-shade-50;
  box-sizing: border-box;
  border-radius: 10px;
}


.radiobuttons__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radiobuttons__label:hover input ~ .radiobuttons__checkmark {
  border: 1px solid #bc9cff;
}

.radiobuttons__label input:hover ~ .radiobuttons__checkmark:after {
  display: block;
}

.radiobuttons__label input:checked ~ .radiobuttons__checkmark {
  background-color: #fff;
}

.radiobuttons__label input:checked ~ .radiobuttons__checkmark:after {
  display: block;
}

.radiobuttons__label .radiobuttons__checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
