//- Include mixins
include ./input
include ./radiobutton
include ./toggle
include ./render-room-found.pug

mixin generateCheckbox(text, isChecked)
  label.default-label 
    input.default-checkbox(type='checkbox', checked= isChecked)
    span !{text}  

mixin createLink(classes, href, text)
  a.default-button(class= classes, href=href) !{text}
