mixin renderRoomFound(room) 
  .room-card-thumbnail-container
    ul.bxslider
      for roomImageSrc in room.photos
        li 
          img(src= roomImageSrc)
    .room-booking-header
      .column
        spam.number-sign №  
        span.room-number= room.number
        span.room-class.room-class__lux= room.class 
      .column
        span.room-price= room.price
        span.ruble  р 
        span.room-term в сутки 
    .room-rating-container
      .rate-button-container
        a.star-link(href="#")
          i.material-icons star
        a.star-link(href="#")
          i.material-icons star
        a.star-link(href="#")
          i.material-icons star
        a.star-link(href="#")
          i.material-icons star
        a.star-link(href="#")
          i.material-icons star
      .reivews-container
        span.reivews-counter= room.reviews
        span.reivews-label  Отзывов     
