extends ../layout/default-layout

block variables
  - var title = 'Toxin ReWorked: Search room page';
  - var description = 'Toxin ReWorked: Search room page';
  - var pageClass = 'search-room-page';

block content
  .container


block script
