extends ../layout/default-layout

block variables
  - var title = 'Toxin ReWorked: UI Kit';
  - var description = 'UI Kit element page';
  - var pageClass = 'ui-kit-page';

block content
  .container
    .form-elements
      form(action='', method='POST')
        .form-col
          h3 Text field
          include ../components/input

          h3 Dropdown guests
          include ../components/dropdown-guests

          h3 Masked input
          include ../components/input-masked

          h3 Date Dropdown
          .flex-between
            include ../components/dropdown-date
            include ../components/dropdown-date

          h3 Email Subscription 
          include ../components/input-subscription

        // Second column
        .form-col
          h3 Checkbox Buttons
          label.default-label 
            input.default-checkbox(type='checkbox', checked)
            span
              | Можно курить
          label.default-label
            input.default-checkbox(type='checkbox')
            span
              | Можно с питомцами
          label.default-label 
            input.default-checkbox(type='checkbox')
            span
              | Можно пригласить гостей 
              br 
              | (до 10 человек) 

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
