extends ../layout/default-layout

block variables
  - var title = 'Toxin ReWorked: UI Kit';
  - var description = 'UI Kit element page';
  - var pageClass = 'ui-kit-page';

block content
  .container
    .form-elements
      form(action='', method='POST')
        .form-col
          h3 Text field
          include ../components/input
          h3 Dropdown guests
          include ../components/dropdown-guests
          h3 Masked input
          include ../components/input-masked
          h3 Date Dropdown
          .flex-between
            include ../components/dropdown-date
            include ../components/dropdown-date
          h3 Email Subscription 
          include ../components/input-subscription
          h3 Dropdown Rooms
          include ../components/dropdown-rooms
          .expandable-button
            h3 Expandable Checkbox List
          .expandable-checkbox-list-container
            +generateCheckbox('Завтрак', 'checked')
            +generateCheckbox('Письменный стол', 'checked')
            +generateCheckbox('Стул для кормления', 'checked')
            +generateCheckbox('Кроватка', 'checked')
            +generateCheckbox('Телевизор')
            +generateCheckbox('Шампунь')

        // Second column
        .form-col
          h3 Checkbox Buttons
          include ../components/checkbox
          h3 Radio Buttons
          include ../components/radiobutton
          h3 Toggle
          include ../components/toggle
          h3 Like button
          include ../components/like
          h3 Rate button
          include ../components/rate


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
