extends ../default-layout/default-layout

include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/radiobutton/radiobutton
include ../../components/toggle/toggle
include ../../components/link/link

block variables
  - var title = 'Toxin ReWorked: Sign in page';
  - var description = 'Toxin ReWorked: Sign in page';
  - var pageClass = 'sign-in-page';

block content
  .sign-in-form-wrapper
    .container
      include ../../components/card-sign-in/card-sign-in
