//----------------------------------
//---------LANDING STYLES---------
//----------------------------------

.landing-page {
  .content-wrapper {
    background: url(../images/design/background-landing.jpg) no-repeat 0 -100px;
    height: 830px;
    background-size: cover;
  }

  .form-rooms-search {
    top: 70px;
  }
}
