include ../../components/buttons/buttons

form.form.form-sign-in
  h3.form-title Войти 
  +textField({
    type: 'email',
    placeholder: 'Email'
  })
  +textField({
    blockElement: 'password',
    type: 'password',
    placeholder: 'Пароль'
  })
  +buttons({
    text: 'Войти',
    modificator: 'wide',
  })
  .aready-registered-container
    span.already-registered Нет аккаунта на Toxin?  
    +createLink('default-button__border create-account-button', '/mock_adress', '<span>Создать</span>')
