form.form.form-room-booking
  .room-booking-header
    .column
      spam.number-sign №  
      span.room-number 888
      span.room-class.room-class__lux  люкс
    .column
      span.room-price 990
      span.ruble  р 
      span.room-term в сутки        
  .rooms-search-dates-container.flex-between
    .column
      h3 Прибытие
      +input("masked date-input date-dropdown", "text", "ДД.ММ.ГГГГ" )
    .column
      h3 Выезд
      +input("masked date-input date-dropdown", "text", "ДД.ММ.ГГГГ" )
  h3 Гости
  include ../../components/dropdown-guests
    
  //- Room Booking Summary Area
  .room-booking-summary
    .room-booking-summary__summary-row
      .column
        span.summary-service-name.summary-service-name_no-info 9 990₽ х 4 суток
      .column
        span.summary-service-price 39 960₽
    .room-booking-summary__summary-row
      .column
        span.summary-service-name Сбор за услуги: скидка 2 179₽
      .column
        span.summary-service-price 0₽
    .room-booking-summary__summary-row
      .column
        span.summary-service-name Сбор за дополнительные услуги
      .column
        span.summary-service-price 300₽

    .room-booking-total-price 
      span.total-price-label Итого
      span.total-price-amount 38 081 р
    .total-price-border-line
  
  +createLink("default-button__gradient default-button__arrow default-button__fullwidth", "/mock_adress", "Забронировать")
