form.form.form-sign-in
  h3.form-title Войти 
  +input("email", "email", "Email")
  +input("password", "password", "Пароль")
  +createLink("default-button__gradient default-button__arrow default-button__fullwidth", "/mock_adress", "Войти")
  .aready-registered-container
    span.already-registered Нет аккаунта на Toxin?  
    +createLink("default-button__border create-account-button", "/mock_adress", "<span>Создать</span>")
