mixin features({items})
  each item in items
    -const heading = item.heading || 'Заголовок'
    -const description = item.description || 'Описание'
    -const icon = item.icon || 'smile'
      .features__container
        div(class=`features__icon features__icon_${icon}`)
        span.features__heading
          | #{heading}
        p.features__description
          | #{description}
