footer.layout-footer
  .container
    .footer-menu-container
      .footer-area.area-1
        .logo-container
          img(src='../../assets/images/content/logo.svg', alt='message')
        .description-container
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      .footer-area.area-2
        h5 Навигация
        ul
          li
            a(href="") О нас
          li
            a(href="") Новости
          li
            a(href="") Служба поддержки
          li
            a(href="") Услуги
            
      .footer-area.area-3
        h5 О нас
        ul
          li
            a(href="") О нас
          li
            a(href="") Новости
          li
            a(href="") Служба поддержки
          li
            a(href="") Услуги

      .footer-area.area-4
        h5 Служба поддержки
        ul
          li
            a(href="") О нас
          li
            a(href="") Новости
          li
            a(href="") Служба поддержки
          li
            a(href="") Услуги

      .footer-area.area-5
        h5 Подписка
        p.subscribe-text Получайте специальные предложения и новости сервиса
        include ../input-subscription/input-subscription

    .footer-content
      .copyright-container 
        span Copyright &copy; 2018 Toxin отель. Все права зачищены.

      .social-container
        a(href='#').soc-ico.twitter
        a(href='#').soc-ico.facebook
        a(href='#').soc-ico.instagram

  .footer-ruler
