form.form.form-registration
  h3.form-title Регистрация аккаунта 
  +input("first-name", "text", "Имя")
  +input("last-name", "text", "Фамилия")
  +createRadiobutton("", "Мужчина", true, "radio-gender", "male")
  +createRadiobutton("sex-female", "Женщина", false, "radio-gender", "female")
  h3 Дата рождения
  +input("masked date-dropdown birthday-date", "text", "ДД.ММ.ГГГГ")
  h3 Данные для входа в сервис
  +input("", "email", "Email")
  +input("password", "password", "Пароль")
  +toggle("", "", "Получать спецпредложения")
  +createLink("default-button__gradient default-button__arrow default-button__fullwidth", "/mock_adress", "Перейти к оплате")
  .aready-registered-container
    span.already-registered Уже есть аккаунт на Toxin 
    +createLink("default-button__border signIn-button", "/mock_adress", "<span>Войти</span>")
