
mixin toggle(inputName, inputValue, toggleLabel)
  label.checkbox__switch
    input(type='checkbox' name=inputName value=inputValue)
    span.checkbox__slider
    span.checkbox__toggle-label !{toggleLabel}
