body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.3em;
}

header {
  font-size: 2em;
  color: $caption-color;
  text-align: center;
  background: $foreground-color center 20px no-repeat;
  padding: 60px 30px 30px;
  background-size: 160px;
  width: 90%;
  margin: 20px auto;
  position: relative;

  small {
    font-size: 0.5em;

    img {
      display: inline;
      width: 20px;
    }
  }
}

main {
  background: $foreground-color;
  color: $black;
  margin: 20px auto;
  padding: 40px;
  width: 90%;

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
  }

  h3 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $black;
  }
}

footer {
  text-align: center;
  padding-bottom: 20px;

  a:hover {
    color: $white;
  }
}

@media (max-width: 500px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}
