include ../../components/rate/rate

.room-card-thumbnail-container
  ul.bxslider
    li 
      img(src="../../assets/images/content/rooms/room_1_thumb.png")
    li 
      img(src="../../assets/images/content/rooms/room_2_thumb.png")
  .room-booking-header
    .column
      spam.number-sign №  
      span.room-number 888
      span.room-class.room-class__lux  люкс
    .column
      span.room-price 9 900
      span.ruble  р 
      span.room-term в сутки 
  .room-rating-container
    +rate({
      rating: 3
    })

    .reivews-container
      span.reivews-counter 145
      span.reivews-label  Отзывов
