/*TYPOGRAPHY STYLES */
/* -----------------*/
h1 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade-100;
}

h2 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade-100;
}

h3 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: $dark-shade-100;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h2.search-room-result__title {
  font-family: $mainFont;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 22px;
}
