$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$secondFont: 'Open Sans', Helvetica, Arial, sans-serif;
$thirdFont: 'Quicksand', Helvetica, Arial, sans-serif;
$iconsFont: 'Material Icons', Helvetica, Arial, sans-serif;

$mainFontColor: rgba(31, 32, 65, 0.75);
$mainFontSize: 14px;
$mainFontWeight: normal;
$mainLineHeight: 24px;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$default-color: #ffffff;
$primary-color: #bc9cff;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;

$purple-color: #bc9cff;
$green-color: #6fcf97;

$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);

$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #fff;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
